@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  a{
    text-decoration: none;
    color: black;
  }
}


.footer{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  background-color: rgb(206, 206, 206);
  gap: 1rem;
}
@media screen and (max-width: 650px) {
  .footer{
    flex-direction: column;
    align-items: center;
    .contacts{
      width: 100% !important;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      margin: auto;
      text-align: center;
    }
    .contact-me{
      text-align: center;
    }
    .footer-sm{
      width: 100% !important;
      a{
        margin: auto;
      }
    }
  }
}